<% @poems.take(10).each do |poem| %>
  <section class="poem">
    <h3 class="title"><%= poem.title %></h3>
    <div class="author"><%= poem.author%></div>
    <div class="lines"><%= poem.text%></div>
    <div class="tone"><%= ToneService.get_tone(poem.text)%></div>
  </section>
<%end %>
